#welcome1{
  background-image:linear-gradient(to left, #4E40A2, #4E40A2, #7B68EE, #8773f3);
  height: 100vw;
  display: flex;
  justify-content: space-between;
}
.title1{
  width: 80vw;
  height: 20vw;
  margin-left: 6vw;
  color: white;
}
.title1, h1{
  font-weight:400;
}

.text-w1{
  width: 85vw;
  height: 50vw;
  margin-left: 6vw;
  margin-bottom: 20vw;
  margin-top: -6vw;

}
.text-w1, p{
  color: white;
  text-align: left;
  font-size: 5.4vw;
  line-height: 7.8vw;
  font-weight:300;
  margin-top: -6vw;
}

#button-s1{
  width: 40vw;
  margin-top: 5vw;
  border-radius: 6vw;
  border: 0px;
  color: white;
  background-color: #FE914E ;
  transition: 0.5s;
  font-size: 5vw;
  font-weight:300;


}

#button-s1:hover{
  width: 45vw;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px white;
  

}
