<div class="d-flex d-sm-none flex-column" id="welcome1">
  <div class="title1">
    <h1>Descubra um novo jeito de trabalhar!</h1>
  </div>
  <div class="text-w1">
    <p>Tenha mais facilidade, agilidade e praticidade no seu dia a dia.
      Nosso aplicativo oferece um ambiente intuitivo e livre de estresse, projetado para focar no seu crescimento.</p>
      <button id="button-s1">Saiba mais</button>
  </div>
</div>

<div class="d-none d-sm-block d-md-none" id="welcome2">
  <div class="title2">
    <h1>Descubra um novo jeito de trabalhar!</h1>
  </div>
  <div class="text-w2">
    <p>Tenha mais facilidade, agilidade e praticidade no seu dia a dia.
      Nosso aplicativo oferece um ambiente intuitivo e livre de estresse, projetado para focar no seu crescimento.</p>
      <button id="button-s2">Saiba mais</button>
  </div>
</div>
