<div class="d-flex d-sm-none flex-column" id="welcome1">
  <div class="title1">
    <h1>Descubra um novo jeito de trabalhar!</h1>
  </div>
  <div class="text-w1">
    <p>Tenha mais facilidade, agilidade e praticidade no seu dia a dia.
      Nosso aplicativo oferece um ambiente intuitivo e livre de estresse, projetado para focar no seu crescimento, conectando você ao seu cliente.</p>
      <button id="button-s1">Saiba mais</button>

  </div>
  <div id="info1" class="mt-5"></div>

</div>

<div class="d-none d-sm-block d-md-none" id="welcome2">
  <div class="title2">
    <h1>Descubra um novo jeito de trabalhar!</h1>
  </div>
  <div class="text-w2">
    <p>Tenha mais facilidade, agilidade e praticidade no seu dia a dia.
      Nosso aplicativo oferece um ambiente intuitivo e livre de estresse, projetado para focar no seu crescimento, conectando você ao seu cliente.</p>
      <button id="button-s2">Saiba mais</button>

  </div>
  <div id="info2" class="mt-5"></div>

</div>

<div class="d-none d-md-block d-lg-none" id="welcome3">
  <div class="title3">
    <h1 >Descubra um novo jeito de trabalhar!</h1>
  </div>
  <div class="text-w3">
    <p>Tenha mais facilidade, agilidade e praticidade no seu dia a dia.
      Nosso aplicativo oferece um ambiente intuitivo e livre de estresse, projetado para focar no seu crescimento, conectando você ao seu cliente.</p>
      <button id="button-s3">Saiba mais</button>
      <div id="info3" class="mt-5"></div>

  </div>
</div>


<div class="d-none d-lg-block d-xl-none" id="welcome4">
  <div class="title4">
    <h1 >Descubra um novo jeito de trabalhar!</h1>
  </div>
  <div class="text-w4">
    <p>Tenha mais facilidade, agilidade e praticidade no seu dia a dia.
      Nosso aplicativo oferece um ambiente intuitivo e livre de estresse, projetado para focar no seu crescimento, conectando você ao seu cliente.</p>
      <button id="button-s4">Saiba mais</button>
      <div id="info4" class="mt-5"></div>

  </div>
</div>

<div class="d-none d-xl-block" id="welcome5">

    <div class="title5">
      <h1 class="ti5" >Descubra um novo jeito de trabalhar!</h1>
    </div>
    <div class="text-w5">
      <p class="tp5">Tenha mais facilidade, agilidade e praticidade no seu dia a dia.
        Nosso aplicativo oferece um ambiente intuitivo e livre de estresse, projetado para focar no seu crescimento, conectando você ao seu cliente.</p>
        <div class="b">
          <button id="oi">Saiba mais</button>
        </div>
        
    </div>
    <img id="pato" src="/assets/Header/corpo-pato.png">


</div>
<div id="info5" class="mt-5"></div>

