<div class="d-flex d-sm-none" id="footer1">
  <div class="org1">
    <div class="dlogo1">
        <img class="logo1" src="/assets/Header/name.png">
    </div>
    <div class="fundadores1">
    </div>
  </div>
</div>


<div class="d-none d-sm-block d-md-none" id="footer2">
  <div class="org2">
    <div class="dlogo2">
        <img class="logo2" src="/assets/Header/name.png">
    </div>
    <div class="fundadores2">
    </div>
  </div>
</div>


<div class="d-none d-md-block d-lg-none" id="footer3">
  <div class="org3">
    <div class="dlogo3">
        <img class="logo3" src="/assets/Header/name.png">
    </div>
    <div class="fundadores3">
    </div>
  </div>
</div>

<div class="d-none d-lg-block d-xl-none" id="footer4">
  <div class="org4">
    <div class="dlogo4">
        <img class="logo4" src="/assets/Header/name.png">
    </div>
    <div class="fundadores4">
    </div>
  </div>
</div>
