<div class="d-flex d-sm-none" id="footer1">
  <div class="org1">
    <div class="dlogo1">
        <img class="logo1" src="/assets/Header/name.png">
    </div>
    <div class="instaemail">
      <div class="orge1">
        <img class="email1" src="/assets/Icones/icon email.png">
        <hr>
        <p>hommei.2024@gmail.com</p>
      </div>
  
      <div class="orgi1">
        <img class="insta1" src="/assets/Icones/instagram (1).png">
        <hr>
        <p class="instatext">@hommei.2024</p>
      </div>
    </div>
    <p class="equipe">Equipe Fifth Harmony 2024</p>
  </div>
    
</div>


<div class="d-none d-sm-block d-md-none" id="footer2">
  <div class="org2">
    <div class="dlogo2">
        <img class="logo2" src="/assets/Header/name.png">
    </div>
    <div class="instaemail2">
      <div class="orge2">
        <img class="email2" src="/assets/Icones/icon email.png">
        <hr>
        <p>hommei.2024@gmail.com</p>
      </div>
  
      <div class="orgi2">
        <img class="insta2" src="/assets/Icones/instagram (1).png">
        <hr>
        <p class="instatext2">@hommei.2024</p>
      </div>
    </div>
    <p class="equip2">Equipe Fifth Harmony 2024</p>
  </div>
</div>


<div class="d-none d-md-block d-lg-none" id="footer3">
  <div class="org3">
    <div class="dlogo3">
        <img class="logo3" src="/assets/Header/name.png">
    </div>
    <div class="instaemail3">
      <div class="orge3">
        <img class="email3" src="/assets/Icones/icon email.png">
        <hr>
        <p>hommei.2024@gmail.com</p>
      </div>
  
      <div class="orgi3">
        <img class="insta3" src="/assets/Icones/instagram (1).png">
        <hr>
        <p class="instatext3">@hommei.2024</p>
      </div>
    </div>
    <p class="equipe3">Equipe Fifth Harmony 2024</p>
  </div>
</div>

<div class="d-none d-lg-block d-xl-none" id="footer4">
  <div class="org4">
    <div class="dlogo4">
        <img class="logo4" src="/assets/Header/name.png">
    </div>
    <div class="instaemail4">
      <div class="orge4">
        <img class="email4" src="/assets/Icones/icon email.png">
        <hr>
        <p>hommei.2024@gmail.com</p>
      </div>
  
      <div class="orgi4">
        <img class="insta4" src="/assets/Icones/instagram (1).png">
        <hr>
        <p class="instatext4">@hommei.2024</p>
      </div>
    </div>
    <p class="equipe4">Equipe Fifth Harmony 2024</p>
  </div>
</div>

<div class="d-none d-xl-block" id="footer5">
  <div class="org5">
    <div class="dlogo5">
        <img class="logo5" src="/assets/Header/name.png">
    </div>
    <div class="ogr51">
      <div class="instaemail5">
        <div class="orge5">
          <img class="email5" src="/assets/Icones/icon email.png">
          <hr>
          <p class="P5">hommei.2024@gmail.com</p>
        </div>
    
        <div class="orgi5">
          <img class="insta5" src="/assets/Icones/instagram (1).png">
          <hr>
          <p class="instatext5">@hommei.2024</p>
        </div>
      </div>
      <p class="equipe5">Equipe Fifth Harmony 2024</p>
    </div>
    </div>
   
</div>