#footer1{
    height: 60vw;
    display: flex;
    justify-content: center;
    background-image:linear-gradient(to top, #4E40A2, #4E40A2, #7B68EE, #8773f3);

}
.org1{
    justify-items: center;
}
.dlogo1{
    margin-top: 4vw;
    justify-items: center;
}
.logo1{
    width: 40vw;
}
.fundadores1{
    margin-top: 4vw;
    text-align: center;
}

.Title1fund{
    color: white;
}


#footer2{
  height: 60vw;
  display: flex;
  justify-content: center;
  background-image:linear-gradient(to top, #4E40A2, #4E40A2, #7B68EE, #8773f3);

}
.org2{
  justify-items: center;
}
.dlogo2{
  margin-top: 4vw;
  justify-items: center;
}
.logo2{
  width: 40vw;
  margin-left: 29vw;
  margin-top: 3vw;
}
.fundadores2{
  margin-top: 4vw;
  text-align: center;
}

.Title2fund{
  color: white;
}
