#footer1{
    height: 60vw;
    display: flex;
    justify-content: center;
    background-image:linear-gradient(to top, #4E40A2, #4E40A2, #7B68EE, #8773f3);

}
.org1{
    justify-items: center;
}
.dlogo1{
    margin-top: 4vw;
    justify-items: center;
}
.logo1{
    width: 40vw;
}




#footer2{
  height: 60vw;
  display: flex;
  justify-content: center;
  background-image:linear-gradient(to top, #4E40A2, #4E40A2, #7B68EE, #8773f3);

}
.org2{
  justify-items: center;
}
.dlogo2{
  margin-top: 4vw;
  justify-items: center;
}
.logo2{
  width: 40vw;
  margin-left: 29vw;
  margin-top: 3vw;
}




#footer3{
  height: 60vw;
  display: flex;
  justify-content: center;
  background-image:linear-gradient(to top, #4E40A2, #4E40A2, #7B68EE, #8773f3);

}
.org3{
  justify-items: center;
}
.dlogo3{
  margin-top: 4vw;
  justify-items: center;
}
.logo3{
  width: 40vw;
  margin-left: 29vw;
  margin-top: 3vw;
}



#footer4{
  height: 60vw;
  display: flex;
  justify-content: center;
  background-image:linear-gradient(to top, #4E40A2, #4E40A2, #7B68EE, #8773f3);

}
.org4{
  justify-items: center;
}
.dlogo4{
  margin-top: 4vw;
  justify-items: center;
}
.logo4{
  width: 40vw;
  margin-left: 29vw;
  margin-top: 3vw;
}
