<div class="d-flex d-sm-none" id="footer1">
  <div class="org1">
    <div class="dlogo1">
        <img class="logo1" src="/assets/Header/name.png">
    </div>
    <div class="fundadores1">
        <h1 class="Title1fund">Fundadores</h1>
    </div>
  </div>
</div>


<div class="d-flex d-md-none" id="footer2">
  <div class="org2">
    <div class="dlogo2">
        <img class="logo2" src="/assets/Header/name.png">
    </div>
    <div class="fundadores2">
        <h1 class="Title2fund">Fundadores</h1>
    </div>
  </div>
</div>
