<div class="d-flex d-sm-none flex-column" id="prestador1">
  <div class="Title1">
    <h1>Para Prestadores:</h1>
  </div>
  <div class="contato1">
    <img class="ct-img"  src="/assets/Icones/chat.png">
    <div class="org-ct">
      <h2>Contado direto</h2>
      <p>Contato direto com os seus clientes.</p>
    </div>

  </div>

  <div  class="celular1">
    <img class="ce-img" src="assets/Icones/celular.png">
    <div class="org-ce">
      <h2>Facilidade</h2>
      <p>Facilidade no seu dia a dia.</p>
    </div>

  </div>

  <div class="raio1">
    <img class="ra-img" src="assets/Icones/raio.png">
    <div class="org-ra">
      <h2>Agilidade</h2>
      <p>Agilidade para encontrar novos serviços.</p>
    </div>
  </div>

  <div class="sino1">
    <img class="si-img" src="assets/Icones/sino.png">
    <div class="org-si">
      <h2>Sempre atento</h2>
      <p>Esteja sempre atento às suas ofertas.</p>

    </div>
  </div>

</div>

<div class="d-none d-sm-block d-md-none" id="prestador2">
  <div class="Title2">
    <h1>Para Prestadores:</h1>
  </div>
  <div class="contato2">
    <img class="ct-img2"  src="/assets/Icones/chat.png">
    <div class="org-ct2">
      <h2>Contado direto</h2>
      <p>Contato direto com os seus clientes.</p>
    </div>

  </div>

  <div  class="celular2">
    <img class="ce-img2" src="assets/Icones/celular.png">
    <div class="org-ce2">
      <h2>Facilidade</h2>
      <p>Facilidade no seu dia a dia.</p>
    </div>

  </div>

  <div class="raio2">
    <img class="ra-img2" src="assets/Icones/raio.png">
    <div class="org-ra2">
      <h2>Agilidade</h2>
      <p>Agilidade para encontrar novos serviços.</p>
    </div>
  </div>

  <div class="sino2">
    <img class="si-img2" src="assets/Icones/sino.png">
    <div class="org-si2">
      <h2>Sempre atento</h2>
      <p>Esteja sempre atento às suas ofertas.</p>

    </div>
  </div>

</div>

<div class="d-none d-md-block d-lg-none" id="prestador3">
  <div class="Title3">
    <h1>Para Prestadores:</h1>
  </div>
  <div class="contato3">
    <img class="ct-img3"  src="/assets/Icones/chat.png">
    <div class="org-ct3">
      <h2>Contado direto</h2>
      <p>Contato direto com os seus clientes.</p>
    </div>

  </div>

  <div  class="celular3">
    <img class="ce-img3" src="assets/Icones/celular.png">
    <div class="org-ce3">
      <h2>Facilidade</h2>
      <p>Facilidade no seu dia a dia.</p>
    </div>

  </div>

  <div class="raio3">
    <img class="ra-img3" src="assets/Icones/raio.png">
    <div class="org-ra3">
      <h2>Agilidade</h2>
      <p>Agilidade para encontrar novos serviços.</p>
    </div>
  </div>

  <div class="sino3">
    <img class="si-img3" src="assets/Icones/sino.png">
    <div class="org-si3">
      <h2>Sempre atento</h2>
      <p>Esteja sempre atento às suas ofertas.</p>

    </div>
  </div>

</div>


<div class="d-none d-lg-block d-xl-none" id="prestador4">
  <div class="Title4">
    <h1>Para Prestadores:</h1>
  </div>
  <div class="contato4">
    <img class="ct-img4"  src="/assets/Icones/chat.png">
    <div class="org-ct4">
      <h2>Contado direto</h2>
      <p>Contato direto com os seus clientes.</p>
    </div>

  </div>

  <div  class="celular4">
    <img class="ce-img4" src="assets/Icones/celular.png">
    <div class="org-ce4">
      <h2>Facilidade</h2>
      <p>Facilidade no seu dia a dia.</p>
    </div>

  </div>

  <div class="raio4">
    <img class="ra-img4" src="assets/Icones/raio.png">
    <div class="org-ra4">
      <h2>Agilidade</h2>
      <p>Agilidade para encontrar novos serviços.</p>
    </div>
  </div>

  <div class="sino4">
    <img class="si-img4" src="assets/Icones/sino.png">
    <div class="org-si4">
      <h2>Sempre atento</h2>
      <p>Esteja sempre atento às suas ofertas.</p>

    </div>
  </div>

</div>
