#prestador1{
  height: 170vw;
  background-image:linear-gradient(to top, #4E40A2, #4E40A2, #7B68EE, #8773f3);
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
}

.Title1{
  margin-left: 19vw;
}
h1{
  color: white ;
  font-size: 8vw;
  line-height: 9vw;
  font-weight:500;
  margin-top: 7vw;
  margin-bottom: auto;
}
.contato1{
  margin-left: 7vw;
  margin-right: 10vw;
  display: flex;
}
.ct-img{
  width: 22vw;
  margin-right: 3vw;


}

.celular1{
  margin-left: 8vw;
  margin-right: 9vw;
  display: flex;
  margin-top: -10px;
}
.ce-img{
  margin-right: 6.2vw;
  width: 17vw;
}

.raio1{
  margin-left: 8vw;
  margin-right: 9vw;
  display: flex;
}

.ra-img{
  width: 19vw;
  margin-right: 5.2vw;

}

.sino1{
  margin-left: 4.7vw;
  margin-right: 9vw;
  display: flex;
  margin-bottom: 10vw;
}

.si-img{
  width: 24vw;
  margin-right: 4vw;
}

h2{
  color: white ;
  font-size: 5vw;
  margin-top: 2vw;
  margin-bottom: 0;
}
p{
  color:white;
  font-size: 4.5vw;
}

