<header class="d-flex d-sm-none" id="header1">
  <img src="/assets/Header/name.png" class="name1">
</header>

<header class="d-none d-sm-block d-md-none" id="header2">
  <img src="/assets/Header/name.png" class="name2">
</header>

<header class="d-none d-md-block d-lg-none" id="header3">
  <img src="/assets/Header/name.png" class="name3">
</header>

<header class="d-none d-lg-block d-xl-none" id="header4"> <!-- Alterei para d-xl-none -->
  <img src="/assets/Header/name.png" class="name4">
</header>

<header class="d-none d-xl-block" id="header5"> <!-- Alterei para que apareça em xl e xx -->
  <img src="/assets/Header/name.png" class="name5">
</header>