<header class="d-flex d-sm-none" id="header1">
  <img src="/assets/Header/Rosto-pato.png"  class="Logo1">
  <img src="/assets/Header/name.png" class="name1">
  <button id="button-c11">Como funciona</button>
  <button id="button-c12">Sobre a empresa</button>
  <button id="button-c13">Aplicativo</button>
</header>

<header class="d-none d-sm-block d-md-none" id="header2">
  <img src="/assets/Header/Rosto-pato.png"  class="Logo2">
  <img src="/assets/Header/name.png" class="name2">

</header>
<header class="d-none d-md-block d-lg-none" id="header3">
  <img src="/assets/Header/Rosto-pato.png"  class="Logo3">
  <img src="/assets/Header/name.png" class="name2">

</header>
