#header1{
  background-image:linear-gradient(to left, #4E40A2, #4E40A2, #7B68EE, #8773f3);
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.name1{
  width: 70vw;
  margin-right: 14vw;
  margin-top: 10vw;
}

#header2{
  background-image:linear-gradient(to left, #4E40A2, #4E40A2, #7B68EE, #8773f3);
  height: 35vw;

}

.name2{
  width: 70vw;
  margin-top: 8vw;
  margin-left: 4vw;
}

#header3{
  background-image:linear-gradient(to left, #4E40A2, #4E40A2, #7B68EE, #8773f3);
  height: 35vw;

}

.name3{
  width: 70vw;
  margin-top: 8vw;
  margin-left: 4vw;
}






