<div  class="d-flex d-sm-none" id="Mvv1">
    <div class="org1">
        <h1> Quem é o Hommei?</h1>
        <div class="missao1">
            <h1> Missão </h1>
            <hr>
            <p>Nossa missão é <span>aumentar a visibilidade </span> dos nossos clientes no mercado brasileiro usando tecnologia.</p>
        </div>
        <div class="visao1">
            <h1>Visão</h1>
            <hr>
            <p>Queremos ser <span>referência em soluções para MEIs, autônomos</span> e seus clientes, promovendo publicidade de qualidade que conecte seus objetivos.</p>
        </div>
        <div class="valores1">
            <h1>Valores</h1>
            <hr>
            <p>Nossos <span>valores fundamentais </span>são ética, credibilidade, inovação, criatividade, transparência, qualidade, responsabilidade e solidariedade.</p>
        </div>
    </div>
  
</div>

<div  class="d-none d-sm-block d-md-none" id="Mvv2">
    <div class="org2">
        <h1> Quem é o Hommei?</h1>

        <div class="missao2">
            <h1> Missão </h1>
            <hr>
            <p>Nossa missão é <span>aumentar a visibilidade </span> dos nossos clientes no mercado brasileiro usando tecnologia.</p>
        </div>
        <div class="visao2">
            <h1>Visão</h1>
            <hr>
            <p>Queremos ser <span>referência em soluções para MEIs, autônomos</span> e seus clientes, promovendo publicidade de qualidade que conecte seus objetivos.</p>
        </div>
        <div class="valores2">
            <h1>Valores</h1>
            <hr>
            <p>Nossos <span>valores fundamentais </span>são ética, credibilidade, inovação, criatividade, transparência, qualidade, responsabilidade e solidariedade.</p>
        </div>
    </div>
  
</div>




<div  class="d-none d-md-block d-lg-none" id="Mvv3">
    <div class="org3">
        <h1> Quem é o Hommei?</h1>

        <div class="missao3">
            <h1> Missão </h1>
            <hr>
            <p>Nossa missão é <span>aumentar a visibilidade </span> dos nossos clientes no mercado brasileiro usando tecnologia.</p>
        </div>
        <div class="visao3">
            <h1>Visão</h1>
            <hr>
            <p>Queremos ser <span>referência em soluções para MEIs, autônomos</span> e seus clientes, promovendo publicidade de qualidade que conecte seus objetivos.</p>
        </div>
        <div class="valores3">
            <h1>Valores</h1>
            <hr>
            <p>Nossos <span>valores fundamentais </span>são ética, credibilidade, inovação, criatividade, transparência, qualidade, responsabilidade e solidariedade.</p>
        </div>
    </div>
  
</div>





<div  class="d-none d-lg-block d-xl-none" id="Mvv4">
    <div class="org4">
        <h1> Quem é o Hommei?</h1>

        <div class="missao4">
            <h1> Missão </h1>
            <hr>
            <p>Nossa missão é <span>aumentar a visibilidade </span> dos nossos clientes no mercado brasileiro usando tecnologia.</p>
        </div>
        <div class="visao4">
            <h1>Visão</h1>
            <hr>
            <p>Queremos ser <span>referência em soluções para MEIs, autônomos</span> e seus clientes, promovendo publicidade de qualidade que conecte seus objetivos.</p>
        </div>
        <div class="valores4">
            <h1>Valores</h1>
            <hr>
            <p>Nossos <span>valores fundamentais </span>são ética, credibilidade, inovação, criatividade, transparência, qualidade, responsabilidade e solidariedade.</p>
        </div>
    </div>
  
</div>


<!-- missão:Temos a missão de favorecer a visibilidade dos nossos clientes 
                por meio da tecnologia no mercado brasileiro.
    visão: Queremos gerar destaque, interação sendo referência nas soluções de problemas entre os MEIs e seus clientes, promovendo uma publicidade de qualidade, 
                traçando uma linha paralela entre o objetivo do cliente e do prestador de serviços
    valores: Nossos valores são de suma importância, sendo eles baseados em ética, credibilidade, inovação, 
                    criatividade, transparência, qualidade, responsabilidade e solidariedade            
                    -->                                                                             