<div class="d-flex d-sm-none flex-column" id="Apliacativo">
  <div class="title">
    <h1>Conheça um pouco do nosso <span>aplicativo</span></h1>
  </div>
  <div id="carousel" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img   src="/assets/Serviços/prestadorpage.png" class="d-block w-100" alt="..." >
        <div class="descripiton">
          <h2>Tela de Notificações</h2>
          <p>Aqui, o prestador recebe todas as notificações referentes às propostas de serviços.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img  src="/assets/Serviços/prestadorpage1.png" class="d-block w-100" alt="..." >
        <div class="descripiton">
          <h2>Agenda</h2>
          <p>Na Agenda, o prestador pode visualizar melhor seus próximos serviços.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img  src="/assets/Serviços/clientepage.png" class="d-block w-100" alt="..." >
        <div class="descripiton">
          <h2>Feed de seviço</h2>
          <p>O feed de serviços ajuda o cliente a encontrar o que ele precisa, assim solicitando o serviço.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img  src="/assets/Serviços/prestadorpage2.png" class="d-block w-100" alt="..." >
        <div class="descripiton">
          <h2>Perfil doprestador</h2>
          <p>No perfil do prestador, o cliente pode ver a categoria e as avaliações dele dos serviçõs anteriores.</p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>

<div class="d-none d-sm-block d-md-none" id="Apliacativo2">
  <div class="title2">
    <h1>Conheça um pouco do nosso <span>aplicativo</span></h1>
  </div>
  <div id="carousel2" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id="img2" src="/assets/Serviços/prestadorpage.png" class="d-block " alt="..." >
        <div class="descripiton2">
          <h2>Tela de Notificações</h2>
          <p>Aqui, o prestador recebe todas as notificações referentes às propostas de serviços.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img id="img2" src="/assets/Serviços/prestadorpage1.png" class="d-block " alt="..." >
        <div class="descripiton2">
          <h2>Agenda</h2>
          <p>Na Agenda, o prestador pode visualizar melhor seus próximos serviços.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img id="img2" src="/assets/Serviços/clientepage.png" class="d-block " alt="..." >
        <div class="descripiton2">
          <h2>Feed de seviço</h2>
          <p>O feed de serviços ajuda o cliente a encontrar o que ele precisa, assim solicitando o serviço.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img id="img2" src="/assets/Serviços/prestadorpage2.png" class="d-block " alt="..." >
        <div class="descripiton2">
          <h2>Perfil doprestador</h2>
          <p>No perfil do prestador, o cliente pode ver a categoria e as avaliações dele dos serviçõs anteriores.</p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>



<div class="d-none d-md-block d-lg-none" id="Apliacativo3">
  <div class="title3">
    <h1>Conheça um pouco do nosso <span>aplicativo</span></h1>
  </div>
  <div id="carousel3" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id="img3" src="/assets/Serviços/prestadorpage.png" class="d-block " alt="..." >
        <div class="descripiton3">
          <h2>Tela de Notificações</h2>
          <p>Aqui, o prestador recebe todas as notificações referentes às propostas de serviços.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img id="img3" src="/assets/Serviços/prestadorpage1.png" class="d-block " alt="..." >
        <div class="descripiton3">
          <h2>Agenda</h2>
          <p>Na Agenda, o prestador pode visualizar melhor seus próximos serviços.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img id="img3" src="/assets/Serviços/clientepage.png" class="d-block " alt="..." >
        <div class="descripiton3">
          <h2>Feed de seviço</h2>
          <p>O feed de serviços ajuda o cliente a encontrar o que ele precisa, assim solicitando o serviço.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img id="img3" src="/assets/Serviços/prestadorpage2.png" class="d-block " alt="..." >
        <div class="descripiton3">
          <h2>Perfil doprestador</h2>
          <p>No perfil do prestador, o cliente pode ver a categoria e as avaliações dele dos serviçõs anteriores.</p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>


<div class="d-none d-lg-block d-xl-none" id="Apliacativo4">
  <div class="title4">
    <h1>Conheça um pouco do nosso <span>aplicativo</span></h1>
  </div>
  <div id="carousel4" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id="img4" src="/assets/Serviços/prestadorpage.png" class="d-block " alt="..." >
        <div class="descripiton4">
          <h2>Tela de Notificações</h2>
          <p>Aqui, o prestador recebe todas as notificações referentes às propostas de serviços.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img id="img4" src="/assets/Serviços/prestadorpage1.png" class="d-block " alt="..." >
        <div class="descripiton4">
          <h2>Agenda</h2>
          <p>Na Agenda, o prestador pode visualizar melhor seus próximos serviços.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img id="img4" src="/assets/Serviços/clientepage.png" class="d-block " alt="..." >
        <div class="descripiton4">
          <h2>Feed de seviço</h2>
          <p>O feed de serviços ajuda o cliente a encontrar o que ele precisa, assim solicitando o serviço.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img id="img4" src="/assets/Serviços/prestadorpage2.png" class="d-block " alt="..." >
        <div class="descripiton4">
          <h2>Perfil doprestador</h2>
          <p>No perfil do prestador, o cliente pode ver a categoria e as avaliações dele dos serviçõs anteriores.</p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
