<div class="d-flex d-sm-none flex-column" id="Apliacativo1">
  <div class="title1">
    <h1>Conheça um pouco do nosso <span>aplicativo</span></h1>
  </div>
  <div id="carousel1" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/Serviços/prestadorpage.png" class="d-block w-100" alt="..." >
        <h2>Tela de Notificações</h2>
      </div>
      <div class="carousel-item">
        <img src="/assets/Serviços/prestadorpage1.png" class="d-block w-100" alt="..." >
        <h2>Agenda</h2>

      </div>
      <div class="carousel-item">
        <img src="/assets/Serviços/clientepage.png" class="d-block w-100" alt="..." >
        <h2>Feed de Serviços</h2>
      </div>
      <div class="carousel-item">
        <img src="/assets/Serviços/prestadorpage2.png" class="d-block w-100" alt="..." >
        <h2>Perfil do Prestador </h2>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
