#Apliacativo{
  height: 200vw;
  display: flex;
}

.title{
  width: 75vw;
  margin-left: 12.4vw;
  text-align: center;
  margin-top: 5vw;
  margin-bottom: 2vw;
}
h1{
  color: #444241;
  font-size: 8vw;
  line-height: 9vw;
  font-weight:500;
  margin-bottom: 2vw;
}
span{
  color:  #FE914E;
}

#carousel{
  width: 82vw;
  margin-left: 8vw;
}
.carousel-inner{
  width: 62vw;
  margin-left: 10vw;

}
.carousel-control-next{
  margin-left:10vw ;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  transition: 0.4s;
  border-radius: 12vw;
  background-color:#FE914E;
}
.carousel-control-prev-icon{
  margin-right: 3vw;
}
.carousel-control-next-icon{
  margin-left: 3vw;
}

.descripiton{
  text-align: center;
}

.descripiton h2{
  margin-top: 3vw;
}

.descripiton p{
  font-size: 3.2vw;
  font-weight:500;
}


#Apliacativo2{
  height: 160vw;
  display: flex;
}

.title2{
  width: 75vw;
  margin-left: 12.4vw;
  text-align: center;
  margin-top: 5vw;
  margin-bottom: 2vw;
}
h1{
  color: #444241;
  font-size: 6vw;
  line-height: 9vw;
  font-weight:500;
  margin-bottom: 4vw;
}
span{
  color:  #FE914E;
}

#carousel2{
  width: 82vw;
  margin-left: 8vw;
}
.carousel2-inner{
  width: 62vw;
  margin-left: 10vw;

}

.descripiton2{
  text-align: center;
}

.descripiton2 h2{
  margin-top: 3vw;
}

.descripiton2 p{
  font-size: 3.2vw;
  font-weight:400;
}
#img2{
  margin-left: 6vw;
  width: 50vw;
}
