#Apliacativo1{
  height: 200vw;
  display: flex;
}

.title1{
  width: 75vw;
  margin-left: 12.4vw;
  text-align: center;
  margin-top: 5vw;
  margin-bottom: 2vw;
}
h1{
  color: #444241;
  font-size: 8vw;
  line-height: 9vw;
  font-weight:500;
  margin-bottom: 2vw;
}
span{
  color:  #FE914E;
}

#carousel1{
  width: 82vw;
  margin-left: 8vw;
}
.carousel-inner{
  width: 62vw;
  margin-left: 10vw;

}
.carousel-control-next{
  margin-left:10vw ;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  transition: 0.4s;
  border-radius: 12vw;
  background-color:#FE914E;
}
.carousel-control-prev-icon{
  margin-right: 3vw;
}
.carousel-control-next-icon{
  margin-left: 3vw;
}

.descripiton1{
  text-align: center;
}

.descripiton1 h2{
  margin-top: 3vw;
}

.descripiton1 p{
  font-weight:500;
}
