#descrip1{
    height: 150vw;
    display: flex;
    justify-content: space-between;

}

.title-d1{
    border: solid 1px white;
    width: 80vw;
    margin-top: 8vw;
    margin-left: 10vw;
    text-align: center;

}

.title-d1, h1{
    color: #444241 ;
    font-size: 8vw;
    line-height: 9vw;
    font-weight:500;
}
.obj1{
    color:#FE914E ;
}
#pato1{
    width: 55vw;
    margin-left: 23vw;
    margin-bottom: 12vw;
}

.sub-title1, .text1{
    width: 80vw;
    margin-left: 10vw;
    margin-top: -5vw;
    font-size: 5.4vw;
    text-align: center;

}
.sub-title1, p {
    color:rgb(100, 99, 99);
    font-weight:500;
    line-height: 7vw;
}
.asc1{
    color: #FE914E ;
}

.text1{
  width: 90vw;
  margin-left: 5vw;
  margin-top: 1.7vw;
  font-size: 4.2vw;
}

#descrip2{
    height: 140w;
    display: flex;
    justify-content: space-between;

}

.title-d2{
    border: solid 1px white;
    width: 80vw;
    margin-top: 8vw;
    margin-left: 10vw;
    text-align: center;

}

.title-d2, h1{
    color: #444241 ;
    font-size: 7vw;
    line-height: 9vw;
    font-weight:500;
}
.obj2{
    color:#FE914E ;
}
#pato2{
    width: 50vw;
    margin-left: 23vw;
    margin-bottom: 12vw;
}

.sub-title2, .text2{
    width: 80vw;
    margin-left: 10vw;
    margin-top: -5vw;
    font-size:5vw;
    text-align: center;

}
.sub-title2, p {
    color:rgb(100, 99, 99);
    font-weight:500;
    line-height: 7vw;
}
.asc2{
    color: #FE914E ;
}

.text2{
  width: 90vw;
  margin-left: 5vw;
  margin-top: 1.7vw;
  font-size: 4vw;
}


#descrip3{
  height: 140w;
  display: flex;
  justify-content: space-between;

}

.title-d3{
  border: solid 1px white;
  width: 80vw;
  margin-top: 8vw;
  margin-left: 10vw;
  text-align: center;

}

.title-d3, h1{
  color: #444241 ;
  font-size: 7vw;
  line-height: 9vw;
  font-weight:500;
}
.obj3{
  color:#FE914E ;
}
#pato3{
  width: 50vw;
  margin-left: 23vw;
  margin-bottom: 12vw;
}

.sub-title3, .text3{
  width: 80vw;
  margin-left: 10vw;
  margin-top: -5vw;
  font-size:5vw;
  text-align: center;

}
.sub-title3, p {
  color:rgb(100, 99, 99);
  font-weight:500;
  line-height: 7vw;
}
.asc3{
  color: #FE914E ;
}

.text3{
width: 90vw;
margin-left: 5vw;
margin-top: 1.7vw;
font-size: 4vw;
}


#descrip4{
  height: 140w;
  display: flex;
  justify-content: space-between;

}

.title-d4{
  border: solid 1px white;
  width: 80vw;
  margin-top: 8vw;
  margin-left: 10vw;
  text-align: center;

}

.title-d4, h1{
  color: #444241 ;
  font-size: 7vw;
  line-height: 9vw;
  font-weight:500;
}
.obj4{
  color:#FE914E ;
}
#pato4{
  width: 50vw;
  margin-left: 23vw;
  margin-bottom: 12vw;
}

.sub-title4, .text4{
  width: 80vw;
  margin-left: 10vw;
  margin-top: -5vw;
  font-size:5vw;
  text-align: center;

}
.sub-title4, p {
  color:rgb(100, 99, 99);
  font-weight:500;
  line-height: 7vw;
}
.asc4{
  color: #FE914E ;
}

.text4{
width: 90vw;
margin-left: 5vw;
margin-top: 1.7vw;
font-size: 4vw;
}

#descrip5{
  height: 140w;
  display: flex;
  justify-content: space-between;
}

.title-d5{
  width: 80vw;
  margin-top: 7vw;
  margin-left: 10vw;
  text-align: center;
  margin-bottom: 3vw;

}

.title-d5, .T5{
  color: #444241 ;
  font-size: 4vw;
  line-height: 5vw;
  font-weight:500;
}
.obj5{
  color:#FE914E ;
}

.sub-title5, .text5{
  width: 80vw;
  margin-left: 10vw;
  font-size:2vw;
  text-align: center;

}
.sub-title5, .P15 {
  color:rgb(100, 99, 99);
  font-weight:500;
  line-height: 4vw;
}
.asc5{
  color: #FE914E ;
}

