#descrip1{
    height: 150vw;
    display: flex;
    justify-content: space-between;

}

.title-d1{
    border: solid 1px white;
    width: 80vw;
    margin-top: 8vw;
    margin-left: 10vw;
    text-align: center;

}

.title-d1, h1{
    color: #444241 ;
    font-size: 8vw;
    line-height: 9vw;
    font-weight:500;
}
.obj1{
    color:#FE914E ;
}
#pato1{
    width: 55vw;
    margin-left: 23vw;
    margin-bottom: 12vw;
}

.sub-title1, .text1{
    width: 80vw;
    margin-left: 10vw;
    margin-top: -5vw;
    font-size: 5.4vw;
    text-align: center;

}
.sub-title1, p {
    color:rgb(100, 99, 99);
    font-weight:500;
    line-height: 7vw;
}
.asc1{
    color: #FE914E ;
}

.text1{
  width: 90vw;
  margin-left: 5vw;
  margin-top: 1.7vw;
  font-size: 4.2vw;
}
