<div class="d-flex d-sm-none flex-column" id="descrip1">
    <div class="title-d1">
      <h1>Seu sucesso é o nosso <span class="obj1">objetivo</span></h1>
    </div>
    <img id="pato1" src="/assets/Header/corpo-pato.png">
    <div class="sub-title1">
      <p>Melhore a comunicação com os seus cliente e alavanque sua carreira.</p>
    </div>

    <div class="text1">
      <p>Um aplicativo totalmente voltado para microempreendedores que realizam <span class="asc1">atendimentos a domicílio</span>. </p>
    </div>

  </div>

  <div class="d-none d-sm-block d-md-none" id="descrip2">
    <div class="title-d2">
      <h1>Seu sucesso é o nosso <span class="obj2">objetivo</span></h1>
    </div>
    <img id="pato2" src="/assets/Header/corpo-pato.png">
    <div class="sub-title2">
      <p>Melhore a comunicação com os seus cliente e alavanque sua carreira.</p>
    </div>

    <div class="text2">
      <p>Um aplicativo totalmente voltado para microempreendedores que realizam <span class="asc1">atendimentos a domicílio</span>. </p>
    </div>

  </div>

  <div class="d-none d-md-block d-lg-none" id="descrip3">
    <div class="title-d3">
      <h1>Seu sucesso é o nosso <span class="obj3">objetivo</span></h1>
    </div>
    <img id="pato3" src="/assets/Header/corpo-pato.png">
    <div class="sub-title3">
      <p>Melhore a comunicação com os seus cliente e alavanque sua carreira.</p>
    </div>

    <div class="text3">
      <p>Um aplicativo totalmente voltado para microempreendedores que realizam <span class="asc1">atendimentos a domicílio</span>. </p>
    </div>

  </div>

  
  <div class="d-none d-lg-block d-xl-none" id="descrip4">
    <div class="title-d4">
      <h1>Seu sucesso é o nosso <span class="obj4">objetivo</span></h1>
    </div>
    <img id="pato4" src="/assets/Header/corpo-pato.png">
    <div class="sub-title4">
      <p>Melhore a comunicação com os seus cliente e alavanque sua carreira.</p>
    </div>

    <div class="text4">
      <p>Um aplicativo totalmente voltado para microempreendedores que realizam <span class="asc1">atendimentos a domicílio</span>. </p>
    </div>

  </div>