#hommei1{
  height: 140vw;
  display: flex;
  justify-content: center;
}
.org1{
  width: 90vw;
  height: 125vw;
  border-radius: 10vw;
  background-image:linear-gradient(to bottom, #4E40A2, #4E40A2, #7B68EE, #8773f3);
  margin-top: 10vw;
  justify-items: center;
  margin-top: 1vw;

}
.title1{
  margin-top: 4vw;
  text-align: center;
}

.Th1{
  color: white ;
  font-size: 8vw;
  line-height: 9vw;
  font-weight:500;
}
.dimg1{
  text-align: center;
  margin-top: 5vw;
}
.dimg1 .img1{
  border-radius:5vw;
  width: 82vw;

}
.text1{
  width: 80vw;
  margin-top: 6vw;
  margin-left: 5vw;
}
.text1 .p1{
  font-size: 4.4vw;
  color: white ;
  text-align: justify;
  line-height: 7vw;

}

#hommei2{
  height: 140vw;
  justify-content: center;
}
.org2{
  width: 90vw;
  height: 125vw;
  border-radius: 10vw;
  background-image:linear-gradient(to bottom, #4E40A2, #4E40A2, #7B68EE, #8773f3);
  justify-items: center;
  margin-left:4.7vw;

}
.title2{
  margin-top: 4vw;
  text-align: center;
  border: solid rgba(0, 128, 0, 0) ;
}

.Th2{
  color: white ;
  font-size: 8vw;
  line-height: 9vw;
  font-weight:500;
  margin-top: 3vw;
}
.dimg2{
  text-align: center;
  margin-top: 2vw;
}
.dimg2 .img2{
  border-radius:5vw;
  width: 82vw;

}
.text2{
  width: 80vw;
  margin-top: 6vw;
  margin-left: 5vw;
}
.text2 .p2{
  font-size: 4.4vw;
  color: white ;
  text-align: justify;
  line-height: 7vw;

}
