<div class="d-flex d-sm-none" id="hommei1">
  <div class="org1">

    <div class="title1">
      <h1 class="Th1">Conheça o Hommei</h1>
    </div>

    <div class="dimg1">
      <img class="img1" src="/assets/Grupo/group.png">
    </div>

    <div class="text1">
      <p class="p1">O Hommei foi desenvolvido por seis alunas do curso de Desenvolvimento de Sistemas da ETEC Professor
        Horácio Augusto da Silveira, diretamente para o trabalho de conclusão de curso de 2024.</p>
    </div>
  </div>
</div>

<div class="d-none d-sm-block d-md-none" id="hommei2">
  <div class="org2">

    <div class="title2">
      <h1 class="Th2">Conheça o Hommei</h1>
    </div>

    <div class="dimg2">
      <img class="img2" src="/assets/Grupo/group.png">
    </div>

    <div class="text2">
      <p class="p2">O Hommei foi desenvolvido por seis alunas do curso de Desenvolvimento de Sistemas da ETEC Professor
        Horácio Augusto da Silveira, diretamente para o trabalho de conclusão de curso de 2024.</p>
    </div>
  </div>
</div>
