<div class="d-flex d-sm-none" id="hommei1">
  <div class="org1">

    <div class="title1">
      <h1 class="Th1">Desenvolvedoras</h1>
    </div>

    <div class="dimg1">
      <img class="img1" src="/assets/Grupo/group.png">
    </div>

    <div class="text1">
      <p class="p1">O Hommei foi desenvolvido por seis alunas do curso de Desenvolvimento de Sistemas da ETEC Professor
        Horácio Augusto da Silveira, para o trabalho de conclusão de curso de 2024.</p>
    </div>
  </div>
</div>

<div class="d-none d-sm-block d-md-none" id="hommei2">
  <div class="org2">

    <div class="title2">
      <h1 class="Th2">Desenvolvedoras</h1>
    </div>

    <div class="dimg2">
      <img class="img2" src="/assets/Grupo/group.png">
    </div>

    <div class="text2">
      <p class="p2">O Hommei foi desenvolvido por seis alunas do curso de Desenvolvimento de Sistemas da ETEC Professor
        Horácio Augusto da Silveira, para o trabalho de conclusão de curso de 2024.</p>
    </div>
  </div>
</div>


<div class="d-none d-md-block d-lg-none" id="hommei3">
  <div class="org3">

    <div class="title3">
      <h1 class="Th3">Desenvolvedoras</h1>
    </div>
  
    <div class="dimg3">
      <img class="img3" src="/assets/Grupo/group.png">
    </div>

    <div class="text3">
      <p class="p3">O Hommei foi desenvolvido por seis alunas do curso de Desenvolvimento de Sistemas da ETEC Professor
        Horácio Augusto da Silveira, para o trabalho de conclusão de curso de 2024.</p>
    </div>
  </div>
</div>


<div class="d-none d-lg-block d-xl-none" id="hommei4">
  <div class="org4">

    <div class="title4">
      <h1 class="Th4">Desenvolvedoras</h1>
    </div>

    <div class="dimg4">
      <img class="img4" src="/assets/Grupo/group.png">
    </div>

    <div class="text4">
      <p class="p4">O Hommei foi desenvolvido por seis alunas do curso de Desenvolvimento de Sistemas da ETEC Professor
        Horácio Augusto da Silveira, para o trabalho de conclusão de curso de 2024.</p>
    </div>
  </div>
</div>

<div class="d-none d-xl-block" id="hommei5">
  <div class="org5">
    <div class="title5">
      <h1 class="Th5">Desenvolvedoras</h1>
    </div>
    <div class="org51">
      <div class="dimg5">
        <img class="img5" src="/assets/Grupo/group.png">
      </div>

      <div class="text5">
        <p class="p5">O Hommei foi desenvolvido por seis alunas do curso de Desenvolvimento de Sistemas da ETEC Professor
          Horácio Augusto da Silveira, para o trabalho de conclusão de curso de 2024.</p>
      </div>
    </div>
    </div>

</div>
