#Cliente1{
  height: 120vw;
  display: flex;
  justify-content: space-between;
}
.title1{
  width: 75vw;
  margin-left: 12.4vw;
  text-align: center;
}
h1{
  color: #444241;
  font-size: 8vw;
  line-height: 9vw;
  font-weight:500;
  margin-top: 7vw;
  margin-bottom: auto;
}
.sofa1{
  margin-top: 5vw;
  margin-left: 17vw;
}
.sofa1, img{
  width: 65vw;
}
span{
  color:  #FE914E;
}
.text1{
  width: 88vw;
  text-align: center;
  margin-left: 5.6vw;
  margin-top: 5vw;
}
.text1,p{
  color: #5e5d5d ;
  font-size: 5vw;
  line-height: 6vw;
  font-weight:500;

}

#Cliente2{
  height: 120vw;
  display: flex;
  justify-content: space-between;
}
.title2{
  width: 75vw;
  margin-left: 12.4vw;
  text-align: center;
}
h1{
  color: #444241;
  font-size: 8vw;
  line-height: 9vw;
  font-weight:500;
  margin-top: 7vw;
  margin-bottom: auto;
}
.sofa2{
  margin-top: 5vw;
  margin-left: 17vw;
}
.sofa2, img{
  width: 65vw;
}
span{
  color:  #FE914E;
}
.text2{
  width: 88vw;
  text-align: center;
  margin-left: 5.6vw;
  margin-top: 5vw;
}
.text2,p{
  color: #5e5d5d ;
  font-size: 5vw;
  line-height: 6vw;
  font-weight:500;

}


#Cliente3{
  height: 120vw;
  display: flex;
  justify-content: space-between;
}
.title3{
  width: 75vw;
  margin-left: 12.4vw;
  text-align: center;
}
h1{
  color: #444241;
  font-size: 8vw;
  line-height: 9vw;
  font-weight:500;
  margin-top: 7vw;
  margin-bottom: auto;
}
.sofa3{
  margin-top: 5vw;
  margin-left: 17vw;
}
.sofa3, img{
  width: 65vw;
}
span{
  color:  #FE914E;
}
.text3{
  width: 88vw;
  text-align: center;
  margin-left: 5.6vw;
  margin-top: 5vw;
}
.text3,p{
  color: #5e5d5d ;
  font-size: 5vw;
  line-height: 6vw;
  font-weight:500;

}



#Cliente4{
  height: 120vw;
  display: flex;
  justify-content: space-between;
}
.title4{
  width: 75vw;
  margin-left: 12.4vw;
  text-align: center;
}
h1{
  color: #444241;
  font-size: 8vw;
  line-height: 9vw;
  font-weight:500;
  margin-top: 7vw;
  margin-bottom: auto;
}
.sofa4{
  margin-top: 5vw;
  margin-left: 17vw;
}
.sofa4, img{
  width: 65vw;
}
span{
  color:  #FE914E;
}
.text4{
  width: 88vw;
  text-align: center;
  margin-left: 5.6vw;
  margin-top: 5vw;
}
.text4,p{
  color: #5e5d5d ;
  font-size: 5vw;
  line-height: 6vw;
  font-weight:500;
}


#Cliente5{
  height: 55vw;
  display: flex;
  justify-content: space-between;
}
.title5{
  height: 10vw;
  text-align: center;
}
.H5{
  color: #444241;
  font-size: 4vw;
  font-weight:500;
  margin-top: 0;
}
.sofa5{
  margin-top: 1vw;
  margin-left: 32vw;
}
.sofa5, .img5{
  width: 35vw;
}
span{
  color:  #FE914E;
}
.text5{
  width: 88vw;
  text-align: center;
  margin-left: 5.6vw;
}
.text5, .P5{
  color: #5e5d5d ;
  font-size: 3vw;
  line-height: 4.2vw;
  font-weight:500;
}
