<div class="d-flex d-sm-none" id="Cliente1">
  <div class="org">
    <div class="title1">
      <h1>Veja como funciona para <span>clientes</span>:</h1>
    </div>
    <div class="sofa1">
      <img src="/assets/Cliente/sofá.png">
    </div>
    <div class="text1">
      <p>Como cliente, você terá mais facilidade em encontrar
        prestadores de serviços que vão até a sua casa, do <span>conforto do seu sofá</span>.</p>
    </div>
  </div>
</div>

<div class="d-none d-sm-block d-md-none" id="Cliente2">
  <div class="org2">
    <div class="title2">
      <h1>Veja como funciona para <span>clientes</span>:</h1>
    </div>
    <div class="sofa2">
      <img src="/assets/Cliente/sofá.png">
    </div>
    <div class="text2">
      <p>Como cliente, você terá mais facilidade em encontrar
        prestadores de serviços que vão até a sua casa, do <span>conforto do seu sofá</span>.</p>
    </div>
  </div>
</div>


<div class="d-none d-md-block d-lg-none" id="Cliente3">
  <div class="org3">
    <div class="title3">
      <h1>Veja como funciona para <span>clientes</span>:</h1>
    </div>
    <div class="sofa3">
      <img src="/assets/Cliente/sofá.png">
    </div>
    <div class="text3">
      <p>Como cliente, você terá mais facilidade em encontrar
        prestadores de serviços que vão até a sua casa, do <span>conforto do seu sofá</span>.</p>
    </div>
  </div>
</div>


<div class="d-none d-lg-block d-xl-none" id="Cliente4">
  <div class="org4">
    <div class="title4">
      <h1>Veja como funciona para <span>clientes</span>:</h1>
    </div>
    <div class="sofa4">
      <img src="/assets/Cliente/sofá.png">
    </div>
    <div class="text4">
      <p>Como cliente, você terá mais facilidade em encontrar
        prestadores de serviços que vão até a sua casa, do <span>conforto do seu sofá</span>.</p>
    </div>
  </div>
</div>


<div class="d-none d-xl-block" id="Cliente5">
  <div class="org5">
    <div class="title5">
      <h1 class="H5">Veja como funciona para <span>clientes</span>:</h1>
    </div>
    <div class="sofa5">
      <img class="img5" src="/assets/Cliente/sofá.png">
    </div>
    <div class="text5">
      <p class="P5">Como cliente, você terá mais facilidade em encontrar
        prestadores de serviços que vão até a sua casa, do <span>conforto do seu sofá</span>.</p>
    </div>
  </div>
</div>
